doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/main.css")
    body 
        section.colors-type
            .container__wrapper
                .logo
                    img(src="assets/images/logo.png", alt="")
                .colors-type__inner
                    .container__content
                        .colors-type__content
                            .colors-type__colors
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade100
                                    .colors-type__square-text
                                        span Dark Shade 100%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade75
                                    .colors-type__square-text
                                        span Dark Shade 75%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade50
                                    .colors-type__square-text
                                        span Dark Shade 50%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade25
                                    .colors-type__square-text
                                        span Dark Shade 25%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade5
                                    .colors-type__square-text
                                        span Dark Shade 5%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_purple
                                    .colors-type__square-text
                                        span Purple
                                        span #BC9CFF
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_green
                                    .colors-type__square-text
                                        span Green
                                        span #6FCF97
                            .colors-type__titles-content
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_h1 H1
                                    p.colors-type__p.h1-styles This one is the sub-section or widget title
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_h2 H2
                                    p.colors-type__p.h2-styles Next one is the item title inside widgets
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_h3 H3
                                    p.colors-type__p.h3-styles This is a label or CTA text
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_body Body
                                    p.colors-type__p.all-styles This is the body text which is used for most of the design, like paragraphs, lists, etc.
        section.form-elements
            .container__wrapper
                .logo
                    img(src="assets/images/logo.png", alt="")
                .container__content
                    .form-elements__content
                        .form-elements__text-field
                            .form-elements__title-block.input-block
                                h3.h3-styles text field
                                input(type="text", placeholder="Email").form-elements__input.input.input-textfield
                            .form-elements__title-block.input-block
                                h3.h3-styles text field
                                input(type="text", value="This is pretty awesome").form-elements__input.input.form-elements__input_focus.input-textfield
                            .form-elements__title-block.input-block
                                h3.h3-styles dropdown
                                .input-block__dropdown.dropdown-block
                                    input(type="button", value="Сколько гостей").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                            .form-elements__title-block.input-block
                                h3.h3-styles masked text field
                                input(type="text", placeholder="ДД.ММ.ГГ").form-elements__input.input.input-textfield
                            .form-elements__title-block.form-elements__dropdowns.input-block
                                .form-elements__block
                                    h3.h3-styles date dropdown
                                    .input-block__dropdown.dropdown-block
                                        input(type="button", value="ДД.ММ.ГГ").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                .form-elements__block
                                    h3.h3-styles date dropdown
                                    .input-block__dropdown.dropdown-block
                                        input(type="button", value="19.08.2019").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                            .form-elements__title-block.form-elements__filter.input-block
                                h3.h3-styles filter date dropdown
                                .input-block__dropdown.dropdown-block
                                    input(type="button", value="19 авг - 23 авг").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                            .form-elements__title-block.form-elements__sub.input-block
                                h3.h3-styles subscription text field
                                .sub-block
                                    input(type="text", placeholder="Email").form-elements__input.input.input-textfield
                                    svg(viewBox="0 0 18 18")
                                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
                        .form-elements__buttons
                            .form-elements__checkbox.checkbox-block
                                h3.h3-styles checkbox buttons
                                .checkbox-block__elems
                                    .checkbox-block__elem
                                        input(type="checkbox", id="smoke")
                                        label(for="smoke").all-styles  Можно курить                                    
                                    .checkbox-block__elem
                                        input(type="checkbox", id="animals")
                                        label(for="animals").all-styles  Можно с питомцами      
                                    .checkbox-block__elem
                                        input(type="checkbox", id="guests")
                                        label(for="guests").all-styles  Можно пригласить гостей (до 10 человек)
                            .form-elements__radiobtns.radio-btns
                                h3.h3-styles.form-elements__radio-h3 radio buttons
                                .radio-btns__wrapper
                                    .radio-btns__block
                                        input(type="radio", id="male", name="sex", checked)
                                        label(for="male") Мужчина
                                    .radio-btns__block
                                        input(type="radio", id="female", name="sex")
                                        label(for="female") Женщина
                            .form-elements__togglebtns.toggle-btns
                                h3.h3-styles.form-elements__toggle-h3 toggle
                                .toggle-btns__wrapper
                                    .toggle-btns__block
                                        input(type="checkbox", id="spec-1")
                                        label(for="spec-1") Получать спецпредложения
                                    .toggle-btns__block
                                        input(type="checkbox", id="spec-2")
                                        label(for="spec-2") Получать спецпредложения
                            .form-elements__likes.like-btns
                                h3.h3-styles like button
                                .like-btns__wrapper
                                    button.like-btns__block
                                        div.like-btns_svg
                                        span.like-btns__count 2
                                    button.like-btns__block.active
                                        div.like-btns_svg
                                        span.like-btns__count 12
                            .form-elements__rate-btns.rate-btns
                                h3.h3-styles rate button
                                .form-elements__rate-wrapper.rate-btns__wrapper
                                    .rate-btns__block
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star 
                                    .rate-btns__block
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg
                        .form-elements__morebtns
                            .form-elements__range-slider.range-slider
                                .range-slider__wrapper
                                    .form-elements__slider-text.range-slider__text
                                        h3.h3-styles range slider
                                        div.range-slider__price 
                                            span 5 000Р 
                                            span - 
                                            span 10 000Р
                                    .range-slider__slider
                                        .range-slider__slider-track
                                        input(type="range", id="range-1", min=100, max=17000, value=5000, step=100)
                                        input(type="range", id="range-2", min=100, max=17000, value=10000, step=100)
                            .form-elements__buttons-block.buttons-block
                                h3.buttons-block__h3.h3-styles buttons
                                .buttons-block__block
                                    button.buttons-block_first.buttons-block_move click me
                                    button.buttons-block_second.buttons-block_move click me
                                    button.buttons-block_third.buttons-block_move click me
                                    button.buttons-block_fourth.buttons-block_move click me
                                    button.buttons-block_fifth.buttons-block_move click me
                                    button.buttons-block_sixth.buttons-block_move click me
                                    button.buttons-block__payment.buttons-block_move.arrow-btn
                                        span Перейти к оплате
                                        svg(viewBox="0 0 18 18")
                                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
                            .form-elements__pagination.pagination-block
                                h3.pagination-block__h3.h3-styles pagination
                                .pagination-block__pages
                                    .pagination-block__page 1
                                    .pagination-block__page 2
                                    .pagination-block__page 3
                                    .pagination-block__dots ...
                                    .pagination-block__page 15
                                    .pagination-block__arrow 
                                        img(src="assets/images/white-arrow.svg", alt="")
                                .pagination-block__text 1 – 12 из 100+ вариантов аренды
                    .form-elements__js
                        .form-elements__js-wrapper
                            .form-elements__js-block
                                .dropdown-block__dropdown
                                    h3.h3-styles dropdown
                                    .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                        input(type="button", value="2 спальни, 2 кровати...").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                    .dropdown-block__selection.selection
                                        .dropdown-block__selection-wrapper
                                            .dropdown-block__option
                                                h3.h3-styles Спальни
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles кровати
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles ванные комнаты
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 0
                                                    div +
                            .form-elements__js-block
                                .dropdown-block__dropdown.active
                                    h3.h3-styles dropdown
                                    .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                        input(type="button", value="2 спальни, 2 кровати...").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                    .dropdown-block__selection.selection
                                        .dropdown-block__selection-wrapper
                                            .dropdown-block__option
                                                h3.h3-styles Спальни
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles кровати
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles ванные комнаты
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 0
                                                    div +
                                .form-elements__checkbox-block.checkbox-block.expand-checkbox
                                    .checkbox-list__top.expand-checkbox__top.top
                                        h3.h3-styles expandable checkbox list
                                        img(src="assets/images/arrow.svg", alt="")
                                    .checkbox-block__elems.expand-checkbox__elems.selection
                                        .checkbox-block__wrapper
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="breakfast")
                                                label(for="breakfast").all-styles Завтрак                                   
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="desk")
                                                label(for="desk").all-styles Письменный стол     
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="chair")
                                                label(for="chair").all-styles Стул для кормления
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="bed")
                                                label(for="bed").all-styles Кроватка
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="tv")
                                                label(for="tv").all-styles Телевизор
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="shampoo")
                                                label(for="shampoo").all-styles Шампунь
                                .form-elements__checkbox-block.checkbox-block.expand-checkbox.active
                                    .checkbox-list__top.expand-checkbox__top.top
                                        h3.h3-styles expandable checkbox list
                                        img(src="assets/images/arrow.svg", alt="")
                                    .checkbox-block__elems.expand-checkbox__elems.selection
                                        .checkbox-block__wrapper
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="breakfast-2")
                                                label(for="breakfast-2").all-styles Завтрак                                   
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="desk-2")
                                                label(for="desk-2").all-styles Письменный стол     
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="chair-2")
                                                label(for="chair-2").all-styles Стул для кормления
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="bed-2")
                                                label(for="bed-2").all-styles Кроватка
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="tv-2")
                                                label(for="tv-2").all-styles Телевизор
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="shampoo-2")
                                                label(for="shampoo-2").all-styles Шампунь
                        .form-elements__js-wrapper
                            .dropdown-block__dropdown.active
                                h3.h3-styles dropdown
                                .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                    input(type="button", value="Сколько гостей").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                                .dropdown-block__selection.selection
                                    .dropdown-block__selection-wrapper
                                        .dropdown-block__option
                                            h3.h3-styles взрослые
                                            .dropdown-block__option-nums
                                                div.dropdown-block__disabled-btn -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles дети
                                            .dropdown-block__option-nums
                                                div.dropdown-block__disabled-btn -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles младенцы
                                            .dropdown-block__option-nums
                                                div.dropdown-block__disabled-btn -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__btns
                                            .dropdown-block__use.clean очистить
                                            .dropdown-block__use.use применить
                            .form-elements__rich-checkbox.rich-checkbox
                                h3.h3-styles rich Checkbox Buttons
                                .rich-checkbox__wrapper
                                    .rich-checkbox__elem.checkbox-block__elem
                                        input(type="checkbox", id="wide-hall").checkbox-block__elem
                                        label(for="wide-hall")
                                            .rich-checkbox__text
                                                h2.h2-styles.rich-checkbox__h2 Широкий коридор
                                                p.rich-checkbox__p Ширина коридоров в номере не менее 91 см.
                                    .rich-checkbox__elem.checkbox-block__elem
                                        input(type="checkbox", id="help").checkbox-block__elem
                                        label(for="help")
                                            .rich-checkbox__text
                                                h2.h2-styles.rich-checkbox__h2 Помощник для инвалидов
                                                p.rich-checkbox__p На 1 этаже вас встретит специалист  и проводит до номера.
                        .form-elements__js-wrapper
                            .dropdown-block__dropdown.active
                                h3.h3-styles dropdown
                                .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                    input(type="button", value="3 гостя").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                                .dropdown-block__selection.selection
                                    .dropdown-block__selection-wrapper
                                        .dropdown-block__option
                                            h3.h3-styles взрослые
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 2
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles дети
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 1
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles младенцы
                                            .dropdown-block__option-nums
                                                div.dropdown-block__disabled-btn -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__btns
                                            .dropdown-block__use.clean очистить
                                            .dropdown-block__use.use применить
                            .form-elements__bullet.bullet-list
                                h3.h3-styles bullet list
                                .bullet-list__wrapper
                                    .bullet-list__elem
                                        .bullet-list__dot
                                        span.all-styles.bullet-list__text Нельзя с питомцами
                                    .bullet-list__elem
                                        .bullet-list__dot
                                        span.all-styles.bullet-list__text Без вечеринок и мероприятий
                                    .bullet-list__elem
                                        .bullet-list__dot
                                        span.all-styles.bullet-list__text Время прибытия — после 13:00, а выезд до 12:00
                    .form-elements__footer
                        .form-elements__footer_left-block
                            .form-elements__footer-smiles.smiles-block
                                .smiles-block__img
                                    img(src="assets/images/comfort.svg", alt="")
                                .smiles-block__text
                                    h3.smiles-block__h3 Комфорт
                                    p.smiles-block__p Шумопоглощающие стены
                            .form-elements__footer-smiles.smiles-block
                                .smiles-block__img
                                    img(src="assets/images/house.svg", alt="")
                                .smiles-block__text
                                    h3.smiles-block__h3 Удобство
                                    p.smiles-block__p Окно в каждой из спален
                        .form-elements__footer_right-block
                            .form-elements__footer-comments.comments-block
                                .comments-block__info
                                    .comments-block__img
                                        img(src="assets/images/murad.png", alt="")  
                                    .comments-block__name
                                        h3.comments-block__h3 Мурад Сарафанов
                                        span.comments-block__days 5 дней назад
                                .comments-block__comment
                                    button.like-btns__block.active
                                        div.like-btns_svg
                                        span.like-btns__count 12
                                    p.all-styles.
                                        Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                                        И стены, действительно, шумоподавляющие. 
                                        Выкрикивал комплименты повару — никто не жаловался из соседей.
        section.cards
            .container__wrapper
                .logo
                    img(src="assets/images/logo.png", alt="")
                .container__content
                    .cards__content        
                        .cards__block
                            .find-room.cards__find-room
                                h1.h1-styles Найдём номера под ваши пожелания
                                .find-room__dates.input-date
                                    .find-room__date
                                        h3.h3-styles прибытие
                                        .dropdown-block
                                            input(type="button", value="ДД.ММ.ГГ").input.input-dropdown
                                            img(src="assets/images/arrow.svg", alt="")
                                    .find-room__date
                                        h3.h3-styles выезд
                                        .dropdown-block
                                            input(type="button", value="ДД.ММ.ГГ").input.input-dropdown
                                            img(src="assets/images/arrow.svg", alt="")      
                                .dropdown-block__dropdown.find-room__guests
                                    h3.h3-styles гости
                                    .input-block__dropdown.dropdown-block.top
                                        input(type="button", value="Сколько гостей").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                    .dropdown-block__selection.selection
                                        .dropdown-block__selection-wrapper
                                            .dropdown-block__option
                                                h3.h3-styles взрослые
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 0
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles дети
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 0
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles младенцы
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 0
                                                    div +
                                            .dropdown-block__btns
                                                .dropdown-block__use.clean очистить
                                                .dropdown-block__use.use применить
                                .find-room__btn
                                    button.arrow-btn
                                        span Подобрать номер
                                        svg(viewBox="0 0 18 18")
                                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
                            .cards__signup.signup
                                h1.h1-styles Регистрация аккаунта
                                .signup__name
                                    input(placeholder="Имя").input
                                    input(placeholder="Фамилия").input
                                .radio-btns__wrapper.signup__radio-btns
                                    .radio-btns__block
                                        input(type="radio", id="male-main", name="sex-main", checked)
                                        label(for="male-main") Мужчина
                                    .radio-btns__block
                                        input(type="radio", id="female-main", name="sex-main")
                                        label(for="female-main") Женщина
                                .signup__date
                                    h3.h3-styles дата рождения
                                    .dropdown-block.input-date
                                        input(type="button", value="ДД.ММ.ГГ").input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                .signup__info
                                    h3.h3-styles данные для входа в сервис
                                    input(placeholder="Email").input
                                    input(placeholder="Пароль").input
                                    .toggle-btns__block.signup__toggle-btns
                                        input(type="checkbox", id="spec-main")
                                        label(for="spec-main") Получать спецпредложения
                                button.arrow-btn.signup__btn
                                    span Перейти к оплате
                                    svg(viewBox="0 0 18 18")
                                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z") 
                                .check-account.signup__check
                                    span Уже есть аккаунт на Toxin
                                    button.buttons-block_third войти
                        .cards__block
                            .cards__booking.booking
                                .booking__top
                                    .booking__top-block
                                        div № <span>888</span> <span>люкс</span>
                                        div 9 990P <span>в сутки</span>
                                .booking__dates.input-date
                                    .booking__date
                                        h3.h3-styles прибытие
                                        .dropdown-block
                                            input(type="button", value="19.08.2019").input.input-dropdown
                                            img(src="assets/images/arrow.svg", alt="")
                                    .booking__date
                                        h3.h3-styles выезд
                                        .dropdown-block
                                            input(type="button", value="23.08.2019").input.input-dropdown
                                            img(src="assets/images/arrow.svg", alt="")  
                                .dropdown-block__dropdown.booking__guests
                                    h3.h3-styles гости
                                    .input-block__dropdown.dropdown-block.top
                                        input(type="button", value="3 гостя").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                    .dropdown-block__selection.selection
                                        .dropdown-block__selection-wrapper
                                            .dropdown-block__option
                                                h3.h3-styles взрослые
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles дети
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 1
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles младенцы
                                                .dropdown-block__option-nums
                                                    div.dropdown-block__disabled-btn -
                                                    span.h3-styles 0
                                                    div +
                                            .dropdown-block__btns
                                                .dropdown-block__use.clean очистить
                                                .dropdown-block__use.use применить
                                .booking__info
                                    .booking__info-block
                                        span 9 990₽ х 4 суток
                                        span 39 960P
                                    .booking__info-block
                                        span Сбор за услуги: скидка 2 179₽
                                        <span class="booking__svg"><img src="assets/images/mark.svg"></span>
                                        span 0P
                                    .booking__info-block
                                        span Сбор за дополнительные <br> услуги
                                        <span class="booking__svg"><img src="assets/images/mark.svg"></span>
                                        span 300P
                                .booking__price
                                    span Итого
                                    span.dots 
                                    span 38 081P
                                .booking__btn
                                    button.arrow-btn
                                        span Забронировать
                                        svg(viewBox="0 0 18 18")
                                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
                            .cards__signin.signin
                                h1.h1-styles Войти
                                .signin__auth
                                    input(placeholder="Email").input
                                    input(placeholder="Пароль").input
                                .signin__btn
                                    button.arrow-btn
                                        span Войти
                                        svg(viewBox="0 0 18 18")
                                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
                                .check-account.signin__check
                                    span Нет аккаунта на Toxin?
                                    button.buttons-block_third создать
                        .cards__block
                            .cards__date.date
                                .date__wrapper.input-date
                                    input(type="hidden").one
                                    input(type="hidden").one
                            .cards__item
                                .item.item-one
                                    .item__wrapper
                                        .item__img-block
                                            .item__slides.slides
                                                div(data-slider="1").item__img.active
                                                    img(src="assets/images/slider-picture-1.jpg", alt="")
                                                div(data-slider="2").item__img
                                                    img(src="assets/images/slider-picture-1.jpg", alt="")
                                                div(data-slider="3").item__img
                                                    img(src="assets/images/slider-picture-1.jpg", alt="")
                                                div(data-slider="4").item__img
                                                    img(src="assets/images/slider-picture-1.jpg", alt="")
                                            .item__arrows
                                                .item__arrow.left
                                                    svg(viewBox="0 0 12 8")
                                                        path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z")
                                                .item__arrow.right
                                                    svg(viewBox="0 0 12 8")
                                                        path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z")
                                            .item__dots.dots
                                                div(data-slider="1").active 
                                                div(data-slider="2") 
                                                div(data-slider="3") 
                                                div(data-slider="4") 
                                        .item__content
                                            .item__top-block
                                                div №<span> 888</span><span>люкс</span>
                                                div 9 990P <span>в сутки</span>
                                            .item__rating
                                                .item__stars
                                                    div.full-star 
                                                    div.full-star 
                                                    div.full-star 
                                                    div.full-star 
                                                    div.full-star
                                                .item__reviews
                                                    div <span>145</span> Отзывов
                                .item.item-two
                                    .item__wrapper
                                        .item__img-block
                                            .item__slides.slides
                                                div(data-slider="1").item__img.active
                                                    img(src="assets/images/slider-picture-2.jpg", alt="")
                                                div(data-slider="2").item__img
                                                    img(src="assets/images/slider-picture-2.jpg", alt="")
                                                div(data-slider="3").item__img
                                                    img(src="assets/images/slider-picture-2.jpg", alt="")
                                                div(data-slider="4").item__img
                                                    img(src="assets/images/slider-picture-2.jpg", alt="")
                                            .item__dots.dots
                                                div(data-slider="1").active 
                                                div(data-slider="2") 
                                                div(data-slider="3") 
                                                div(data-slider="4") 
                                        .item__content
                                            .item__top-block
                                                div №<span> 840</span> <span></span>
                                                div 9 990P <span>в сутки</span>
                                            .item__rating
                                                .item__stars
                                                    div.full-star 
                                                    div.full-star 
                                                    div.full-star 
                                                    div.full-star 
                                                    div.half-star
                                                .item__reviews
                                                    div <span>65</span> Отзывов
        section.headers-footers
            .container__wrapper
                .logo
                    img(src="assets/images/logo.png", alt="")
            .headers-footers__header-signup.header-signup
                .container__content
                    .header-signup__content
                        .header-signup__logo
                            img(src="assets/images/headers-footers-logo.svg", alt="")
                        ul.header-signup__menu
                            .header-signup__link.active
                                a(href="") О нас
                            .header-signup__link
                                a(href="") Услуги
                                img(src="assets/images/arrow.svg", alt="")
                            .header-signup__link
                                a(href="") Вакансии
                            .header-signup__link
                                a(href="") Новости
                            .header-signup__link
                                a(href="") Соглашения
                                img(src="assets/images/arrow.svg", alt="")
                        .header-signup__btns
                            button.buttons-block_third.header-signup__signin-btn Войти
                            button.buttons-block_first.header-signup__signup-btn Зарегистрироваться
            .headers-footers__header-signup.header-signup.header-signup_width
                .container__content
                    .header-signup__content
                        .header-signup__logo
                            img(src="assets/images/headers-footers-logo.svg", alt="")
                        ul.header-signup__menu
                            .header-signup__link.active
                                a(href="") О нас
                            .header-signup__link
                                a(href="") Услуги
                                img(src="assets/images/arrow.svg", alt="")
                            .header-signup__link
                                a(href="") Вакансии
                            .header-signup__link
                                a(href="") Новости
                            .header-signup__link
                                a(href="") Соглашения
                                img(src="assets/images/arrow.svg", alt="")
                        .header-signup__name
                            span Юлий Цезарь
            footer.headers-footers__footer.footer
                .container__content
                    .footer__content
                        .footer__logo-block
                            .footer__logo
                                img(src="assets/images/headers-footers-logo.svg", alt="")
                            .footer__logo-info
                                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                        .footer__menu-block
                            h3.h3-styles.footer__menu-title навигация
                            a(href="") О нас
                            a(href="") Новости
                            a(href="") Служба поддержки
                            a(href="") Услуги
                        .footer__menu-block
                            h3.h3-styles.footer__menu-title о нас
                            a(href="") О сервисе
                            a(href="") Наша команда
                            a(href="") Вакансии
                            a(href="") Инвесторы
                        .footer__menu-block
                            h3.h3-styles.footer__menu-title служба поддержки
                            a(href="") Соглашения
                            a(href="") Сообщества
                            a(href="") Связь с нами
                        .footer__subscription
                            h3.h3-styles.footer__menu-title подписка
                            .footer__subscription-info
                                p Получайте специальные предложения и новости сервиса
                            .input-block
                                .sub-block
                                    input(type="text", placeholder="Email").input.input-textfield
                                    svg(viewBox="0 0 18 18")
                                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
                .footer__sub-footer.sub-footer
                    .container__content
                        .sub-footer__content
                            p.sub-footer__info Copyright © 2018 Toxin отель. Все права защищены.
                            .sub-footer__media
                                a(href="").sub-footer__img
                                    img(src="assets/images/twitter.svg", alt="")
                                a(href="").sub-footer__img
                                    img(src="assets/images/facebook.svg", alt="")
                                a(href="").sub-footer__img
                                    img(src="assets/images/instagram.svg", alt="")
            footer.mobile-footer
                .mobile-footer__content
                    .mobile-footer_logo
                        img(src="assets/images/headers-footers-logo.svg", alt="")
                    .mobile-footer__text
                        span Copyright © 2018 Toxin отель. Все права защищены.
                    .mobile-footer__media
                        a(href="").mobile-footer__img
                            img(src="assets/images/twitter.svg", alt="")
                        a(href="").mobile-footer__img
                            img(src="assets/images/facebook.svg", alt="")
                        a(href="").mobile-footer__img
                            img(src="assets/images/instagram.svg", alt="")
        script(src="./main.bundle.js")
