footer.footer
    .container__content
        .footer__content
            .footer__logo-block
                .footer__logo
                    img(src="assets/images/headers-footers-logo.svg", alt="")
                .footer__logo-info
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__menu-block
                h3.h3-styles.footer__menu-title навигация
                a(href="") О нас
                a(href="") Новости
                a(href="") Служба поддержки
                a(href="") Услуги
            .footer__menu-block
                h3.h3-styles.footer__menu-title о нас
                a(href="") О сервисе
                a(href="") Наша команда
                a(href="") Вакансии
                a(href="") Инвесторы
            .footer__menu-block
                h3.h3-styles.footer__menu-title служба поддержки
                a(href="") Соглашения
                a(href="") Сообщества
                a(href="") Связь с нами
            .footer__subscription
                h3.h3-styles.footer__menu-title подписка
                .footer__subscription-info
                    p Получайте специальные предложения и новости сервиса
                .input-block
                    .sub-block
                        input(type="text", placeholder="Email").input.input-textfield
                        svg(viewBox="0 0 18 18")
                                path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
    .footer__sub-footer.sub-footer
        .container__content
            .sub-footer__content
                p.sub-footer__info Copyright © 2018 Toxin отель. Все права защищены.
                .sub-footer__media
                    a(href="").sub-footer__img
                        img(src="assets/images/twitter.svg", alt="")
                    a(href="").sub-footer__img
                        img(src="assets/images/facebook.svg", alt="")
                    a(href="").sub-footer__img
                        img(src="assets/images/instagram.svg", alt="")
include ./mobile-footer.pug