footer.mobile-footer
    .mobile-footer__content
        .mobile-footer_logo
            img(src="assets/images/headers-footers-logo.svg", alt="")
        .mobile-footer__text
            span Copyright © 2018 Toxin отель. Все права защищены.
        .mobile-footer__media
            a(href="").mobile-footer__img
                img(src="assets/images/twitter.svg", alt="")
            a(href="").mobile-footer__img
                img(src="assets/images/facebook.svg", alt="")
            a(href="").mobile-footer__img
                img(src="assets/images/instagram.svg", alt="")