.sign-in {
    background-image: url("../assets/images/auth-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 172px 0px;
    @media screen and (max-width: 992px) {
        padding: 100px 0px;
    }
    @media screen and (max-width: 576px) {
        padding: 50px 0px;
        .buttons-block_third {
            padding: 11px 14px;
        }
    }
    &__block {
        margin: 0 auto;
    }
}