extends ../../blocks/template/template.pug

block title
    title Регистрация
block content
    section.sign-up
        .container__content
            .sign-up__content
                form(method="get").sign-up__block.signup
                    h1.h1-styles Регистрация аккаунта
                    .signup__name
                        input(placeholder="Имя", name="name").input
                        input(placeholder="Фамилия", name="surname").input
                    .radio-btns__wrapper.signup__radio-btns
                        .radio-btns__block
                            input(type="radio", id="male-main", name="sex-main", checked)
                            label(for="male-main") Мужчина
                        .radio-btns__block
                            input(type="radio", id="female-main", name="sex-main")
                            label(for="female-main") Женщина
                    .signup__date
                        h3.h3-styles дата рождения
                        .dropdown-block.input-date
                            input(type="text", value="ДД.ММ.ГГ" readonly, name="birthday").input.input-dropdown
                        .calendar
                            input(type="hidden")
                    .signup__info
                        h3.h3-styles данные для входа в сервис
                        input(placeholder="Email", name="email").input
                        input(placeholder="Пароль", name="password").input
                        .toggle-btns__block.signup__toggle-btns
                            input(type="checkbox", id="spec-main")
                            label(for="spec-main") Получать спецпредложения
                    button.arrow-btn.signup__btn
                        span Перейти к оплате
                        svg(viewBox="0 0 18 18")
                                path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z") 
                    .check-account.signup__check
                        span Уже есть аккаунт на Toxin
                        a(href="sign-in.html").buttons-block_third войти
append scripts
    script(src="./js/pages/sign-up/sign-up.js")