.sign-up {
    background-image: url("../assets/images/auth-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px 0px;
    &__block {
        margin: 0 auto;
    }
}
