.main {
    background-image: url("../assets/images/landing-page-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &__content {
        padding: 70px 0px 380px 0px;
        position: relative;
        @media screen and (max-width: 992px) {
            padding: 70px 0px 300px 0px;
        }
        @media screen and (max-width: 576px) {
            padding: 50px 0px 200px 0px;
        }
    }
    &_small-text {
        position: absolute;
        bottom: 18px;
        right: 0;
        text-align: right;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        p {
            line-height: 24px;
        }
    }
}