.header-signup
    .container__content
        .header-signup__content
            .header-signup__logo
                a(href="index.html")
                    img(src="assets/images/headers-footers-logo.svg", alt="")
            div.burger
                div
            .burger-menu
                ul.header-signup__menu
                    .header-signup__link.active
                        a(href="")
                            .header-signup__item-wrapper О нас
                    .header-signup__link.header-signup__lists
                        .header-signup__item-wrapper
                            span.header-signup__menu-more-lists Услуги
                            svg(viewBox="0 0 12 8")
                                path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
                    .header-signup__link
                        a(href="") 
                            .header-signup__item-wrapper Вакансии
                    .header-signup__link
                        a(href="") 
                            .header-signup__item-wrapper Новости
                    .header-signup__link.header-signup__lists
                        .header-signup__item-wrapper
                            span.header-signup__menu-more-lists Соглашения
                            svg(viewBox="0 0 12 8")
                                path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
                .header-signup__btns
                    a(href="sign-in.html")
                        .header-signup__item-wrapper.buttons-block_third.header-signup__signin-btn Войти
                    a(href="sign-up.html")
                        .header-signup__item-wrapper.buttons-block_first.header-signup__signup-btn  Зарегистрироваться