.signup {
    padding: 23px 30px 30px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 380px;
    .input {
        margin-bottom: 10px;
    }
    &__name {
        input:first-child {
            margin-bottom: 5px;
        }
    }
    &__date {
        margin-top: 20px;
        input {
            background-image: url("../assets/images/arrow.svg");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center;
        }
    }
    &__info {
        margin-top: 20px;
        input:last-of-type {
            margin-top: 0px;
        }
    }
    &__toggle-btns {
        margin-top: 0px;
    }
    &__btn {
        width: 100%;
        margin-top: 24px;
    }
    &__check {
        margin-top: 30px;
    }
}

.check-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }
}