.bullet-list {
    &__wrapper {
        margin-top: 12px;
    }
    &__elem {
        display: flex;
        align-items: flex-start;
        margin-top: 9px;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__dot {
        width: 10px;
        height: 10px;
        background: rgba(31, 32, 65, 0.25);
        border-radius: 100%;
        transform: translateY(60%);
    }
    &__text {
        margin-left: 10px;
    }
}