.form-elements {
    margin-top: 200px;
    &__content {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__input_focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
    &__title-block {
        margin-top: 20px;
        max-width: 320px;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__dropdowns {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__block {
        flex-basis: 47%;
    }
    &__filter {
        margin-top: 40px;
        max-width: 270px;
    }
    &__sub {
        margin-top: 40px;
        max-width: 270px;
    }
    &__text-field {
        width: 100%;
    }
    &__radio-h3 {
        margin-bottom: 15px;
    }
    &__radiobtns {
        margin-top: 20px;
    }
    &__togglebtns {
        margin-top: 25px;
    }
    &__likes {
        margin-top: 35px;
    }
    &__rate-btns {
        margin-top: 40px;
    }
    &__rate-wrapper {
        margin-top: 15px;
    }
}

@import "./input-styles.scss";
@import "./checkbox-block.scss";
@import "./radio-btns.scss";
@import "./toggle-btns.scss";
@import "./like-btns.scss";
@import "./rate-btns.scss";