doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/main.css")
    body 
        section.colors-type
            .container__wrapper
                .logo
                    img(src="assets/images/logo.png", alt="")
                .colors-type__inner
                    .container__content
                        .colors-type__content
                            .colors-type__colors
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade100
                                    .colors-type__square-text
                                        span Dark Shade 100%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade75
                                    .colors-type__square-text
                                        span Dark Shade 75%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade50
                                    .colors-type__square-text
                                        span Dark Shade 50%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade25
                                    .colors-type__square-text
                                        span Dark Shade 25%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_shade5
                                    .colors-type__square-text
                                        span Dark Shade 5%
                                        span #1F2041
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_purple
                                    .colors-type__square-text
                                        span Purple
                                        span #BC9CFF
                                .colors-type__color-block
                                    .colors-type__square.colors-type__square_green
                                    .colors-type__square-text
                                        span Green
                                        span #6FCF97
                            .colors-type__titles-content
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_h1 H1
                                    p.colors-type__p.h1-styles This one is the sub-section or widget title
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_h2 H2
                                    p.colors-type__p.h2-styles Next one is the item title inside widgets
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_h3 H3
                                    p.colors-type__p.h3-styles This is a label or CTA text
                                .colors-type__title-block
                                    .colors-type__title.colors-type__title_body Body
                                    p.colors-type__p.all-styles This is the body text which is used for most of the design, like paragraphs, lists, etc.
        section.form-elements
            .container__wrapper
                .logo
                    img(src="assets/images/logo.png", alt="")
                .container__content
                    .form-elements__content
                        .form-elements__text-field
                            .form-elements__title-block.input-block
                                h3.h3-styles text field
                                input(type="text", placeholder="Email").form-elements__input.input.input-textfield
                            .form-elements__title-block.input-block
                                h3.h3-styles text field
                                input(type="text", placeholder="Email", value="This is pretty awesome").form-elements__input.form-elements__input_focus.input.input-textfield
                            .form-elements__title-block.input-block
                                h3.h3-styles dropdown
                                .input-block__dropdown.dropdown-block
                                    input(type="button", value="Сколько гостей").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                            .form-elements__title-block.input-block
                                h3.h3-styles masked text field
                                input(type="text", placeholder="ДД.ММ.ГГ").form-elements__input.input.input-textfield
                            .form-elements__title-block.form-elements__dropdowns.input-block
                                .form-elements__block
                                    h3.h3-styles date dropdown
                                    .input-block__dropdown.dropdown-block
                                        input(type="button", value="ДД.ММ.ГГ").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                .form-elements__block
                                    h3.h3-styles date dropdown
                                    .input-block__dropdown.dropdown-block
                                        input(type="button", value="19.08.2019").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                            .form-elements__title-block.form-elements__filter.input-block
                                h3.h3-styles filter date dropdown
                                .input-block__dropdown.dropdown-block
                                    input(type="button", value="19 авг - 23 авг").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                            .form-elements__title-block.form-elements__sub.input-block
                                h3.h3-styles subscription text field
                                .sub-block
                                    input(type="text", placeholder="Email").form-elements__input.input.input-textfield
                                    img(src="assets/images/sub-arrow.svg", alt="")
                        .form-elements__buttons
                            .form-elements__checkbox.checkbox-block
                                h3.h3-styles checkbox buttons
                                .checkbox-block__elems
                                    .checkbox-block__elem
                                        input(type="checkbox", id="smoke")
                                        label(for="smoke").all-styles  Можно курить                                    
                                    .checkbox-block__elem
                                        input(type="checkbox", id="animals")
                                        label(for="animals").all-styles  Можно с питомцами      
                                    .checkbox-block__elem
                                        input(type="checkbox", id="guests")
                                        label(for="guests").all-styles  Можно пригласить гостей (до 10 человек)
                            .form-elements__radiobtns.radio-btns
                                h3.h3-styles.form-elements__radio-h3 radio buttons
                                .radio-btns__wrapper
                                    .radio-btns__block
                                        input(type="radio", id="male", name="sex")
                                        label(for="male") Мужчина
                                    .radio-btns__block
                                        input(type="radio", id="female", name="sex")
                                        label(for="female") Женщина
                            .form-elements__togglebtns.toggle-btns
                                h3.h3-styles.form-elements__toggle-h3 toggle
                                .toggle-btns__wrapper
                                    .toggle-btns__block
                                        input(type="checkbox", id="spec-1")
                                        label(for="spec-1") Получать спецпредложения
                                    .toggle-btns__block
                                        input(type="checkbox", id="spec-2")
                                        label(for="spec-2") Получать спецпредложения
                            .form-elements__likes.like-btns
                                h3.h3-styles like button
                                .like-btns__wrapper
                                    button.like-btns__block
                                        div.like-btns_svg
                                        span.like-btns__count 2
                                    button.like-btns__block.active
                                        div.like-btns_svg
                                        span.like-btns__count 12
                            .form-elements__rate-btns.rate-btns
                                h3.h3-styles rate button
                                .form-elements__rate-wrapper.rate-btns__wrapper
                                    .rate-btns__block
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star 
                                    .rate-btns__block
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg 
                                        .rate-btns__star-bg
                        .form-elements__morebtns
                            .form-elements__range-slider.range-slider
                                .range-slider__wrapper
                                    .form-elements__slider-text.range-slider__text
                                        h3.h3-styles range slider
                                        span.range-slider__price 5 000Р - 10 000Р
                                    .range-slider__slider
                                        img(src="assets/images/range-slider.svg", alt="")
                            .form-elements__buttons-block.buttons-block
                                h3.buttons-block__h3.h3-styles buttons
                                .buttons-block__block
                                    button.buttons-block_first.buttons-block_move click me
                                    button.buttons-block_second.buttons-block_move click me
                                    button.buttons-block_third.buttons-block_move click me
                                    button.buttons-block_fourth.buttons-block_move click me
                                    button.buttons-block_fifth.buttons-block_move click me
                                    button.buttons-block_sixth.buttons-block_move click me
                                    button.buttons-block__payment.buttons-block_move
                                        span Перейти к оплате
                                        img(src="assets/images/white-arrow.svg", alt="")
                            .form-elements__pagination.pagination-block
                                h3.pagination-block__h3.h3-styles pagination
                                .pagination-block__pages
                                    .pagination-block__page 1
                                    .pagination-block__page 2
                                    .pagination-block__page 3
                                    .pagination-block__dots ...
                                    .pagination-block__page 15
                                    .pagination-block__arrow 
                                        img(src="assets/images/white-arrow.svg", alt="")
                                .pagination-block__text 1 – 12 из 100+ вариантов аренды
                    .form-elements__js
                        .form-elements__js-wrapper
                            .form-elements__js-block
                                .dropdown-block__dropdown
                                    h3.h3-styles dropdown
                                    .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                        input(type="button", value="2 спальни, 2 кровати...").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                    .dropdown-block__selection.selection
                                        .dropdown-block__selection-wrapper
                                            .dropdown-block__option
                                                h3.h3-styles Спальни
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles кровати
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles ванные комнаты
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 0
                                                    div +
                            .form-elements__js-block
                                .dropdown-block__dropdown.active
                                    h3.h3-styles dropdown
                                    .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                        input(type="button", value="2 спальни, 2 кровати...").form-elements__input.input.input-dropdown
                                        img(src="assets/images/arrow.svg", alt="")
                                    .dropdown-block__selection.selection
                                        .dropdown-block__selection-wrapper
                                            .dropdown-block__option
                                                h3.h3-styles Спальни
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles кровати
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 2
                                                    div +
                                            .dropdown-block__option
                                                h3.h3-styles ванные комнаты
                                                .dropdown-block__option-nums
                                                    div -
                                                    span.h3-styles 0
                                                    div +
                                .form-elements__checkbox-block.checkbox-block.expand-checkbox
                                    .checkbox-list__top.expand-checkbox__top.top
                                        h3.h3-styles expandable checkbox list
                                        img(src="assets/images/arrow.svg", alt="")
                                    .checkbox-block__elems.expand-checkbox__elems.selection
                                        .checkbox-block__wrapper
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="breakfast")
                                                label(for="breakfast").all-styles Завтрак                                   
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="desk")
                                                label(for="desk").all-styles Письменный стол     
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="chair")
                                                label(for="chair").all-styles Стул для кормления
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="bed")
                                                label(for="bed").all-styles Кроватка
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="tv")
                                                label(for="tv").all-styles Телевизор
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="shampoo")
                                                label(for="shampoo").all-styles Шампунь
                                .form-elements__checkbox-block.checkbox-block.expand-checkbox.active
                                    .checkbox-list__top.expand-checkbox__top.top
                                        h3.h3-styles expandable checkbox list
                                        img(src="assets/images/arrow.svg", alt="")
                                    .checkbox-block__elems.expand-checkbox__elems.selection
                                        .checkbox-block__wrapper
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="breakfast-2")
                                                label(for="breakfast-2").all-styles Завтрак                                   
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="desk-2")
                                                label(for="desk-2").all-styles Письменный стол     
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="chair-2")
                                                label(for="chair-2").all-styles Стул для кормления
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="bed-2")
                                                label(for="bed-2").all-styles Кроватка
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="tv-2")
                                                label(for="tv-2").all-styles Телевизор
                                            .checkbox-block__elem.expand-checkbox__elem
                                                input(type="checkbox", id="shampoo-2")
                                                label(for="shampoo-2").all-styles Шампунь
                        .form-elements__js-wrapper
                            .dropdown-block__dropdown.active
                                h3.h3-styles dropdown
                                .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                    input(type="button", value="Сколько гостей").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                                .dropdown-block__selection.selection
                                    .dropdown-block__selection-wrapper
                                        .dropdown-block__option
                                            h3.h3-styles взрослые
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles дети
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles младенцы
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__btns
                                            .dropdown-block__use.clean очистить
                                            .dropdown-block__use.use применить
                            .form-elements__rich-checkbox.rich-checkbox
                                h3.h3-styles rich Checkbox Buttons
                                .rich-checkbox__wrapper
                                    .rich-checkbox__elem.checkbox-block__elem
                                        input(type="checkbox", id="wide-hall").checkbox-block__elem
                                        label(for="wide-hall")
                                            .rich-checkbox__text
                                                h2.h2-styles.rich-checkbox__h2 Широкий коридор
                                                p.rich-checkbox__p Ширина коридоров в номере не менее 91 см.
                                    .rich-checkbox__elem.checkbox-block__elem
                                        input(type="checkbox", id="help").checkbox-block__elem
                                        label(for="help")
                                            .rich-checkbox__text
                                                h2.h2-styles.rich-checkbox__h2 Помощник для инвалидов
                                                p.rich-checkbox__p На 1 этаже вас встретит специалист  и проводит до номера.
                        .form-elements__js-wrapper
                            .dropdown-block__dropdown.active
                                h3.h3-styles dropdown
                                .input-block__dropdown.dropdown-block.dropdown-block__aparts.top
                                    input(type="button", value="Сколько гостей").form-elements__input.input.input-dropdown
                                    img(src="assets/images/arrow.svg", alt="")
                                .dropdown-block__selection.selection
                                    .dropdown-block__selection-wrapper
                                        .dropdown-block__option
                                            h3.h3-styles взрослые
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 2
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles дети
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 1
                                                div +
                                        .dropdown-block__option
                                            h3.h3-styles младенцы
                                            .dropdown-block__option-nums
                                                div -
                                                span.h3-styles 0
                                                div +
                                        .dropdown-block__btns
                                            .dropdown-block__use.clean очистить
                                            .dropdown-block__use.use применить
                            .form-elements__bullet.bullet-list
                                h3.h3-styles bullet list
                                .bullet-list__wrapper
                                    .bullet-list__elem
                                        .bullet-list__dot
                                        span.all-styles.bullet-list__text Нельзя с питомцами
                                    .bullet-list__elem
                                        .bullet-list__dot
                                        span.all-styles.bullet-list__text Без вечеринок и мероприятий
                                    .bullet-list__elem
                                        .bullet-list__dot
                                        span.all-styles.bullet-list__text Время прибытия — после 13:00, а выезд до 12:00
                    .form-elements__footer
                        .form-elements__footer_left-block
                            .form-elements__footer-smiles.smiles-block
                                .smiles-block__img
                                    img(src="assets/images/comfort.svg", alt="")
                                .smiles-block__text
                                    h3.smiles-block__h3 Комфорт
                                    p.smiles-block__p Шумопоглощающие стены
                            .form-elements__footer-smiles.smiles-block
                                .smiles-block__img
                                    img(src="assets/images/house.svg", alt="")
                                .smiles-block__text
                                    h3.smiles-block__h3 Удобство
                                    p.smiles-block__p Окно в каждой из спален
                        .form-elements__footer_right-block
                            .form-elements__footer-comments.comments-block
                                .comments-block__info
                                    .comments-block__img
                                        img(src="assets/images/murad.png", alt="")  
                                    .comments-block__name
                                        h3.comments-block__h3 Мурад Сарафанов
                                        span.comments-block__days 5 дней назад
                                .comments-block__comment
                                    button.like-btns__block.active
                                        div.like-btns_svg
                                        span.like-btns__count 12
                                    p.all-styles.
                                        Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                                        И стены, действительно, шумоподавляющие. 
                                        Выкрикивал комплименты повару — никто не жаловался из соседей.


        script(src="./main.bundle.js")

