.air-datepicker {
    font-family: 'Montserrat';
    padding: 0 10px;
    width: 320px - 24px;
    --adp-day-cell-height: 40px;
    z-index: 10000;
    @media screen and (max-width: 576px) {
        width: 269px;
        --adp-day-cell-height: 32px;
    }
    @media screen and (max-width: 370px) {
        width: 250px;
    }
    &--pointer {
        display: none;
    }
    &-nav {
        border: 0px;
        margin: 10px 0 23px;
    }
    &-nav--title {
        font-weight: 700;
        font-size: 19px;
        color: #1F2041;
    }
    &-nav--action {
        position: relative;
        svg {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            height: 18px;
            width: 18px;
            background-image: url("../assets/images/sub-arrow.svg");
            background-repeat: no-repeat;
            transform: rotate(180deg);
        }
        &:last-child {
            &::before {
                content: "";
                transform: rotate(-360deg);
            }  
        }
    }
    &-body--day-names {
        margin-bottom: 15px;
    }
    &-body--cells.-days- {
        margin-bottom: 10px;
    }
    &-body--day-name {
        font-weight: 700;
        font-size: 12px;
        color: #BC9CFF;
        text-transform: none;
    }
    &--buttons {
        border: 0px;
    }
    &-buttons {
        border: 0px;
        display: flex;
        justify-content: space-between;
    }
    &-button {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #BC9CFF;
        padding: 0px 9px;
    }
    &-cell {
        border-radius: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        &.-day-.-other-month- {
            color: rgba(31, 32, 65, 0.25);
        }
        &.-selected-,&.-selected-.-focus- {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 100%;
        }
        &.-in-range- {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                opacity: 0.25;
            }
        }
        &.-range-from-, &.-range-to- {
            position: relative;
            border: 0px;
            &:before {
                content: "";
                border-radius: 100%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                opacity: 0.25;
            }   
        }
        &.-range-to- {
            &:before {
                border-radius: 100%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &.-current- {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            color: #fff;
        }
        &:hover,&:focus {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 100%;
            color: #fff;
        }
    }
}